body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 150%;
}


p {
	margin-bottom: 1em;
}

h1 {
	margin-bottom: 1em;
}

strong {
	font-weight: bold;
}


#backgrounds div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 0;
}

#backgrounds div:first-of-type {
	opacity: 1;
}

#bg-01 {
	background-image: url('/img/chapter-01.png');
}

#bg-02 {
	background-image: url('/img/chapter-02.jpg');
}

#bg-03 {
	background-image: url('/img/chapter-03.jpg');
}

#bg-04 {
	background-image: url('/img/chapter-04.jpg');
}

#bg-05 {
	background-image: url('/img/chapter-05.jpg');
}

#bg-06 {
	background-image: url('/img/chapter-06.jpg');
}

/*#bg-07 {
	background-image: url('/img/chapter-01.png');
}

#bg-08 {
	background-image: url('/img/chapter-01.png');
}*/

#bg-09 {
	background-image: url('/img/chapter-09.jpg');
}

#bg-10 {
	background-image: url('/img/chapter-10.png');
}


article {
	background-color: rgba(256, 256, 256, .2);
	margin: 0 auto;
	position: relative;
	width: 600px;
	z-index: 1;
}


section {
	margin-bottom: 400px;
	padding: 2em 1em;
}


section:first-of-type {
	font-family: 'Courier New', monospace;
}


section:first-of-type h1 {
	background-image: url('../img/logo_nasa.jpg');
	background-repeat: no-repeat;
	background-size: 167px 135px;
	font-weight: bold;
	height: 135px;
	padding-left: 180px;
	padding-top: 30px;
}


section:first-of-type p {
	text-align: center;
}
